.newsletter-section {
  position: relative;
  background: url('../../assets/background.jpg') no-repeat center center/cover; /* Replace with your actual image path */
  background-attachment: fixed;
  color: white;
  margin-top: 0px !important;
}

.newsletter-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
  z-index: 1;
}

.newsletter-content {
  position: relative;
  z-index: 2;
}

.newsletter-form .form-control {
  border-radius: 0;
  height: 50px; /* Set a fixed height */
}

.newsletter-form .btn {
  border-radius: 0;
  background-color: #ff5722; 
  border: none;
  height: 50px; 
 
}
.btn{
  margin-top: 0px !important;
}

.newsletter-form .btn:hover {
  background-color: #e64a19; /* Hover color */
}
